@import "tailwindcss";




@theme {
    --font-player: "Press Start 2P", system-ui;
}


.grade-a {
    color: #01BC61;
}

.grade-b {
    color: #E6EF18;
}

.grade-c {
    color: #E69E18;
}

.grade-d {
    color: #E66A78;
}

.grade-f {
    color: #E60A18;
}

/* .scanlines {
    background: repeating-linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.15),
                rgba(0, 0, 0, 0.15) 1px,
                transparent 1px,
                transparent 2px
            );
    pointer-events: none;
} */
.blink {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}