<!-- <div class="fixed h-full left-0 scanlines top-0 w-full z-1000"></div>
<header class="bg-gray-900 text-white font-player" role="banner">
    <nav class="flex items-center flex-wrap px-4 py-5 container mx-auto" role="navigation" aria-label="Main navigation">
        <a
            href="#"
            class="text-[1.5em] text-[#00ff00]"
            aria-label="Gavin's Grades - Home"
            >Gavin&apos;s Grades</a
        >
        <span class="blink mr-auto text-[#00ff00]" aria-hidden="true">_</span>
        <button
            class="hover:bg-blue-600 hover:text-white px-3 py-2 rounded lg:hidden"
            data-name="nav-toggler"
            aria-label="Toggle navigation menu"
            aria-expanded="false"
            aria-controls="nav-menu"
            data-pg-ia='{"l":[{"name":"NabMenuToggler","trg":"click","a":{"l":[{"t":"^nav|[data-name=nav-menu]","l":[{"t":"set","p":0,"d":0,"l":{"class.remove":"hidden"}}]},{"t":"#gt# span:nth-of-type(1)","l":[{"t":"tween","p":0,"d":0.2,"l":{"rotationZ":45,"yPercent":300}}]},{"t":"#gt# span:nth-of-type(2)","l":[{"t":"tween","p":0,"d":0.2,"l":{"autoAlpha":0}}]},{"t":"#gt# span:nth-of-type(3)","l":[{"t":"tween","p":0,"d":0.2,"l":{"rotationZ":-45,"yPercent":-300}}]}]},"pdef":"true","trev":"true"}]}'
        >
            <span class="block border-b-2 border-current my-1 w-6" aria-hidden="true"></span>
            <span class="block border-b-2 border-current my-1 w-6" aria-hidden="true"></span>
            <span class="block border-b-2 border-current my-1 w-6" aria-hidden="true"></span>
        </button>
        <div
            id="nav-menu"
            class="lg:flex lg:space-x-4 lg:space-y-0 lg:w-auto space-y-2 w-full hidden lg:items-center"
            data-name="nav-menu"
        >
            <ul class="flex flex-col lg:flex-row" role="list">
                <li>
                    <a
                        href="#"
                        class="font-light hover:text-blue-600 lg:px-4 uppercase py-2 px-0"
                        aria-current="page"
                        >Home</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="font-light hover:text-blue-600 lg:px-4 uppercase py-2 px-0"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="font-light hover:text-blue-600 lg:px-4 uppercase py-2 px-0"
                        >Features</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="font-light hover:text-blue-600 lg:px-4 uppercase py-2 px-0"
                        >Services</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="font-light hover:text-blue-600 lg:px-4 uppercase py-2 px-0"
                        >Contact</a
                    >
                </li>
            </ul>
            <!-- <a
                href="#"
                class="bg-blue-600 font-light inline-block px-5 py-2 rounded text-white hover:bg-blue-700 uppercase"
                >Sign Up</a
            > --><!-- </div>
    </nav>
</header>  -->
         <!-- Header -->
            <div class="m-auto max-w-[1400px] border-4 border-[#00ff00] border-solid flex header mb-5 p-5 relative shadow-[0_0_0_4px_#000,0_0_0_8px_#00ff00,8px_8px_0_8px_rgba(0,255,0,0.3)]">
                <div class="flex flex-wrap gap-5 header-content">
                    <div class="ml-auto mr-auto player-info">
                        <h1 class="text-[1.5em] text-[#00ff00] mb-[15px]">GRADE QUEST<span class="blink">_</span></h1>
                        <p class="text-[0.6em] text-[#ffff00]">&gt; PLAYER.1 - GAVIN</p>
                    </div>
                    <div class="flex gap-1" data-pg-collapsed>
                        <div class="border-[3px] border-solid border-white min-w-[100px] px-[15px] py-3 text-center">
                            <div class="text-[0.4em] text-[#aaa] mb-2">LVL</div>
                            <div class="text-[0.8em] text-[#00ffff]">10</div>
                        </div>
                        <div class="border-[3px] border-solid border-white min-w-[100px] px-[15px] py-3 text-center">
                            <div class="text-[0.4em] text-[#aaa] mb-2">AVG</div>
                            <div class="text-[0.8em] text-[#00ffff]">69%</div>
                        </div>
                        <div class="border-[3px] border-solid border-white min-w-[100px] px-[15px] py-3 text-center">
                            <div class="text-[0.4em] text-[#aaa] mb-2">STREAK</div>
                            <div class="text-[0.8em] text-[#00ffff]">1</div>
                        </div>
                        <!-- <div class="inline-flex items-center gap-[8px] bg-[#000] px-[12px] py-[8px] border-[3px] border-[solid] border-[#ffff00] text-[0.5em]">
                            <div class="w-[20px] h-[20px] bg-[#ffff00] rounded-[50%] border-[2px] border-[solid] border-[#fff]"></div><span>000</span>
                        </div> -->
                    </div>
                </div>
            </div>
